@use "sass" as *;

.featuredBooks {
  margin-top: 2.5em;
  overflow: hidden;
  position: relative;
}
.carousel {
  width: 1500px;
  padding-bottom: 5em;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.container--grid {
  display: grid;
  grid-auto-columns: minmax(200px, 250px);
  grid-auto-rows: auto;
  grid-auto-flow: column;
  gap: 2em;
  //   border: 1px solid red;//
  width: 100%;
}

.featuredBook {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 40px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  position: relative;
  display: flex;
  align-items: stretch;

  & > a {
    color: #fff;
    font-size: $primary-font-size;
  }

  &__image {
    height: 100%;
  }
}

//show visibile overlay whe hovered
.featuredBook:hover .featuredBook__hoverCard {
  transition: all 1s;
  visibility: visible;
}

.featuredBook__hoverCard {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    rgba(34, 34, 34, 0.75) 50px,
    rgba(5, 5, 5, 1) 250px
  );

  padding: 1em 2.5em;

  @include flex-column;
  //changing svg colors to white
  path {
    fill: #fff;
  }
}

//spacing top on all elemnt
.featuredBook__hoverCard > *:not(:last-child) {
  margin-top: 2em;
}

//color to show availability
.isAvailable {
  color: $variant-primary-green;
  font-weight: 400;
}

//book item details layout

.featuredBook__item:nth-child(2),
.featuredBook__item:nth-child(3),
.featuredBook__item:nth-child(4) {
  @include flex-column;
}

//seprate top spacing
//flex-container

.featuredBook__item:last-child {
  margin-top: 3em;
}

.bookTitle {
  margin-bottom: 0.35em;
}

.publishedYear,
.bookGenre__category,
.bookTag__category,
.author,
.publishedYear {
  margin-top: 0.15em;
}

//caret
.caret {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.844);
  top: 0;
  @include flex-align-justify-center;
  bottom: 0;
  width: 50px;
  z-index: 8;
  cursor: pointer;
  //right positioned

  &:last-child {
    right: 0;
    //rotated svg
    border-left: 1px solid #fff;
    & > svg {
      transform: rotate(180deg);
    }
  }

  &:first-child {
    left: 0;
  }
}

.dots {
  width: 100%;
  @include flex-align-justify-center;
}

.dot {
  background-color: rgba(199, 198, 198, 0.515);
  width: 8px;
  height: 8px;
  border-radius: 50%;

  &.active {
    background-color: $variant-primary-green;
  }

  &:not(:first-child) {
    margin-left: 1em;
  }
}
