@use "sass" as mixin;
@use "sass" as typo;

.ratingInfo {
  padding-left: 0.65em;
  @include mixin.flex-column--g(0.35em);
  align-items: flex-start;
  font-size: calc(typo.$primary-font-size + 4px);
  & > span:first-of-type {
    display: flex;
    gap: 0.35em;
  }
}
