*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // ==== 10px
}

body {
  font-family: "Ubuntu" sans-serif;
  box-sizing: border-box;
  background-color: #000;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
