@use "./typography" as typography;
@use "./colors" as color;

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}
.fw-400 {
  font-weight: 400;
}

.fw-100 {
  font-weight: 100;
}

.sm-font-size {
  font-size: calc(typography.$primary-font-size - 4px);
}
.md-font-size {
  font-size: calc(typography.$primary-font-size + 0.35px);
  font-weight: 600;
}
.md-font-size-thin {
  font-size: calc(typography.$primary-font-size + 0.35px);
  font-weight: 400;
}
.lg-font-size {
  font-size: calc(typography.$primary-font-size + 3px);
}

.margn-left-xsm {
  margin-left: 0.5em;
}

.margn-left-sm {
  margin-left: 1rem;
}

.color-green {
  color: color.$primary-green;
}

.mt-md {
  margin-top: 0.45em;
}

.mb-md {
  margin-bottom: 2em;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}
