@use "./typography" as typography;
@use "./colors" as color;

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}
.fw-400 {
  font-weight: 400;
}

.fw-100 {
  font-weight: 100;
}

.sm-font-size {
  font-size: calc(typography.$primary-font-size - 0.25rem);
}
.md-font-size {
  font-size: calc(typography.$primary-font-size + 0.55rem);
  font-weight: 600;
}
.md-font-size-thin {
  font-size: calc(typography.$primary-font-size + 0.55rem);
  font-weight: 400;
}
.lg-font-size {
  font-size: calc(typography.$primary-font-size + 55rem);
}

.font-size-1 {
  font-size: 12px;
}

.font-size-2 {
  font-size: 14px;
}

.font-size-3 {
  font-size: 16px;
}
.margn-left-xsm {
  margin-left: 0.5em;
}

.margn-left-sm {
  margin-left: 1rem;
}

.color-green {
  color: color.$primary-green;
}

.color-disabled {
  color: rgb(160, 160, 160);
}

.mt-md {
  margin-top: 0.45em;
}

.mb-md {
  margin-bottom: 2em;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}
