.search-input__mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: fixed;
  width: 100%;
  transform: translateY(100%);
  @media screen and (min-width: 992px) {
    position: sticky;
  }
  z-index: 10;
  padding: 2em 1.15em;

  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;

  &.slideIn {
    transform: translateY(0);
    transition: transform 5s cubic-bezier(0.19, -1, 0.22, -1);
  }
  &.slideOut {
    transform: translateY(100%);
    transition: transform 5s cubic-bezier(0.19, -1, 0.22, -1);
  }
}

.search-input__mobileWrapper {
  display: flex;
  align-items: center;
}
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  margin-right: 3em;
}
