@use "sass" as typo;

.addToCart {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  z-index: 5;
  left: 15.55rem;

  @media (min-width: 1024px) {
    left: 152px;
  }

  bottom: -0.55rem;

  padding: 0.85rem 0;
  & > button {
    background-color: transparent;
    outline: none;
    border: 0;
    display: flex;
    align-items: center;
    gap: 0.35em;
    font-size: calc(typo.$primary-font-size + 4px);
  }

  //cursor display for disabled button
}
