@use "sass" as mixin;
@use "sass" as color;

.bookItem__details {
  background-color: #fff;

  @media screen and (max-width: 800px) {
    padding-top: 4em;
  }
  position: relative;
  height: 100%;
  overflow-x: hidden;

  //info: image, button, copy availability and price
}

.bookItem__info {
  padding-left: 2em;
  padding-right: 2em;

  @media (min-width: 1024px) {
    padding-left: 3.75em;
    padding-right: 3.75em;
  }
  padding-top: 3em;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 800px) {
    flex-wrap: nowrap;
  }

  figure {
    @media screen and (min-width: 992px) {
      max-width: 25em;
    }
    max-width: 15.95em;
    display: flex;
    flex-direction: column;

    img {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    figcaption {
      display: none;
      @media (min-width: 992px) {
        display: flex;
        flex-direction: column;
      }
      margin-top: 5em;

      .availability__copy {
        font-size: 1.35rem;
      }

      .book__price {
        font-size: 4rem;
        font-weight: 100;
        margin-top: 0.1em;
      }
    }
  }
}

.bookItem__tradeInfo {
  padding-bottom: 2em;
}

/********************************************************************************************************************
********************************************************************************************************************/

.bookItem__tradeInfo__text {
  @media screen and (min-width: 800px) {
    padding-inline: 4em;
  }
  @media screen and (min-width: 992px) {
    height: 89vh;
    overflow-y: scroll;
    flex-basis: 80%;
  }

  & > section {
    padding-top: 10em;
    @media (max-width: 900px) {
      padding-top: 1em;
    }

    h1 {
      font-size: 2.25rem;
      @media (max-width: 900px) {
        font-size: 3.25rem;
        word-wrap: wrap;
      }
      margin-bottom: 0.5em;
    }

    .field,
    .author {
      font-size: 1.55rem;
    }

    .author,
    .field {
      @include mixin.flex-column--g(0.15em);
    }
  }

  //over flow hidden for scroll
  .book__foreword {
    @media screen and (min-width: 800px) {
      height: 100vh;
    }
    & > *:not(:first-child) {
      margin-block: 2em;
      font-size: 1.4rem;
    }
  }

  h3 {
    font-size: 1.65rem;
    margin-top: 3em;
    margin-bottom: 2em;
  }

  .genreAndTags,
  .publisher__releaseDate {
    display: flex;

    @media screen and (min-width: 900px) {
      gap: 5em;
    }
  }
  .field {
    width: 100%;
    @media screen and (max-width: 600px) {
      flex-basis: 50%;
    }
  }
}

.table-format {
  border-top: 1px solid color.$primary-gray;
  border-bottom: 1px solid color.$primary-gray;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media (max-width: 900px) {
    & > *:not(:first-child) {
      margin-top: 3em;
    }
  }

  @media (min-width: 1024px) {
    display: flex;
    align-items: center;

    white-space: nowrap;

    & > *:not(:first-child) {
      margin-left: 5em;
    }
  }
}
