.home {
  background-color: #fff;
  max-width: 85vw;
  width: 90%;
  margin-inline: auto;

  //enables header be pertined insidd
  position: relative;
  display: flex;
  flex-direction: column;
}

.main__container {
  max-width: 94.33%;
  margin-inline: auto;
  position: relative;
  padding-top: 10em;
  padding-bottom: 5em;
}
