.home {
  background-color: #fff;
  //height allows any container overflow et to visible on scroll
  //with the home page
  height: 100vh;
  margin-inline: auto;
  overflow-y: scroll;
  overflow-x: hidden;

  position: relative;
  display: flex;
  flex-direction: column;
}

.main__container {
  max-width: 94.33%;
  margin-inline: auto;
  position: relative;
  height: calc(94.33% * 0.5625);

  // width: 97vw;
  // height: calc(97vw * 0.5625);
  // max-height: 97vh;
  // max-width: calc(97vh * 1.78);
  // margin-inline: auto;
}
