.home {
  background-color: #fff;
  max-width: 85vw;
  width: 90%;
  margin-inline: auto;
  min-height: 100vh;
  //enables header be pertined insidd
  position: relative;
}

.main__container {
  max-width: 94.33%;
  margin-inline: auto;
  position: relative;
  top: 10.3333em;
}
