@use "sass" as variable;
@use "sass" as mixin;

.search__wrapper {
  display: flex;
  border: 1px solid #dddddd;
  flex-grow: 0.2;
}
.search {
  display: flex;
  height: 40px;
  width: 100%;
}
.search__input {
  outline: none;
  background-color: transparent;
  border: 0;
  padding: 0 2.5em;
  font-weight: 500;
  width: calc(100% - 50px);
  height: 100%;
  font-size: 1.45rem;
  //placeholder
  &::placeholder {
    color: #a8a8a8;
    font-weight: 400;
  }

  //on focus
}
.search__cta {
  background-color: lighten(#dddddd5b, 5%);
  outline: none;
  border: 1px solid #dddddd83;
  height: 100%;
  width: 50px;
  @include mixin.flex-align-justify-center;
  position: relative;

  & > img {
    position: absolute;
    display: block;
  }
}

// .cartIcon__toggler {
//   border: 1px solid;
//   margin-left: auto;
// }
