@use "sass" as color;
@use "sass" as variable;
@use "sass" as mixin;

header {
  padding-inline: 5em;
  padding-block: 2.5em;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  //overlayed ontop every element on the home page
  z-index: 999999;
  background-color: color.$primary-white;
}

nav {
  @include mixin.flex-align-center;
}

form {
  margin-inline: auto;
}

.nav__item:last-child {
  @include mixin.flex-align-center;
  gap: 3em;
}

.nav__item:nth-child(3) {
  position: relative;
}

.cartItem {
  position: relative;
  @include mixin.flex-align-center;

  &__number {
    position: absolute;
    background-color: color.$primary-green;
    font-family: inherit;
    color: color.$primary-white;
    font-size: variable.$primary-font-size;
    font-weight: 600;
    top: -0.65em;
    left: 1em;
    padding: 0.25em 0.55em;
    border-radius: 50%;
    vertical-align: middle;
  }
}
