@use "sass" as mixin;

.carousel__container {
  width: 200%;
  height: calc(90vh * 0.5625);
}

.carousel {
  margin-top: 2.5em;
  overflow: hidden;
  position: relative;
}

.carousel__displayFrame {
  display: grid;
  grid-auto-columns: 250px;
  grid-auto-rows: 350px;
  grid-auto-flow: column;
  gap: 2em;
  //   border: 1px solid red;//
  width: 100%;
}
.caret {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.836);
  top: 0;
  @include mixin.flex-align-justify-center;
  bottom: 0;
  width: 50px;
  z-index: 8;
  cursor: pointer;
  //right positioned
}
.carousel__rightArrow {
  right: 0;
  //rotated svg
  border-left: 1px solid #fff;
  & > svg {
    transform: rotate(180deg);
  }
}

.carousel__leftArrow {
  left: 0;
}
