@use "sass" as mixin;
@use "sass" as typo;

.user-feedback-info,
.feedback {
  @include mixin.flex-align-center;
  font-size: calc(typo.$primary-font-size + 3px);
}

.feedback {
  border-right: 1px solid rgb(84, 84, 84);
  padding-right: 1em;
}
