@use "sass" as typography;
@use "sass" as color;

.book {
  display: grid;
  grid-template-columns: repeat(auto-fit, 550px);
  grid-template-rows: auto;
  gap: 6rem;
  //hover
  &:hover {
    transition: box-shadow 0.3s cubic-bezier(0.19, -1, 0.22, -1);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  }
  position: relative;

  & > a {
    display: flex;
    align-items: stretch;
  }
}
.book__imageContainer {
  & > img {
    width: 18rem;
    max-width: 20rem;
    height: min(28rem, 310px);
  }
}

.book__detailsContainer {
  padding: 1em 2em;

  .book__title {
    margin-bottom: 0.45em;
  }

  .book__author {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    font-size: calc(typography.$primary-font-size + 4px);
    margin-bottom: 1.25em;
  }

  .book__stock {
    font-size: calc(typography.$primary-font-size + 4px);
    margin-top: 1.5em;
    display: inline-flex;
    margin-bottom: 1.25em;
    & > span:last-of-type {
      margin-left: 1.5em;
    }
  }
}

#available {
  color: color.$primary-green !important;
}
#unavailable {
  color: color.$primary-red !important;
}
