@use "sass" as typography;
@use "sass" as color;

.book {
  display: flex;
  align-items: stretch;
  width: clamp(320px, 430px, 600px);

  & > a {
    display: flex;
    align-items: stretch;
    gap: 1.25em;
    color: #000;
  }

  //hover
  &:hover {
    transition: box-shadow 0.5s cubic-bezier(0.19, -1, 0.22, -1);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  }
}
.book__imageContainer {
  width: 130px;
  img {
    object-fit: cover;
    height: 100%;
  }
}

.book__detailsContainer {
  padding-block: 1em;

  .book__title {
    margin-bottom: 0.45em;
  }

  .book__author {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    font-size: calc(typography.$primary-font-size - 1px);
    margin-bottom: 1.25em;
  }

  .book__stock {
    font-size: typography.$primary-font-size;
    margin-top: 1.5em;
    display: inline-flex;
    margin-bottom: 1.25em;
    & > span:last-of-type {
      margin-left: 1.5em;
    }
  }
}

.book__stock__availability.available {
  color: color.$variant-primary-green;
}
.book__stock__availability.unavailable {
  color: color.$primary-red;
}
